<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Patients</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0-alpha2/dist/css/bootstrap.css}">
    <link th:rel="stylesheet" type="text/css" th:href="style.css">
</head>
<body>
<div class="container">
    <div class="text-wrapper">
        <h1>Редагування пацієнта</h1>
    </div>
    <div class="button-wrapper">
    <form action="update_patients" method="post">
    <input type="hidden" name="id" th:value="${patients.id}">
    <label for="tname" class="form-control-sm">Ім'я</label><br/>
    <input type="text" th:value="${patients.name}" id="tname" name="name" class="form-control-sm"><br/>
    <label for="tname" class="form-control-sm">Адреса</label><br/>
    <input type="text" th:value="${patients.address}" id="taddress" name="address" class="form-control-sm"><br/>
    <label for="tphone" class="form-control-sm">Номер телефона</label><br/>
    <input type="text" th:value="${patients.phone}" id="tphone" name="phone" class="form-control-sm"><br/>
    <label for="tcard" class="form-control-sm">Номер медичної карти</label><br/>
    <input type="number" th:value="${patients.medicalCardNumber}" id="tcard" name="medicalCardNumber" class="form-control-sm"><br/>
    <label for="tdiagnosis" class="form-control-sm">Діагноз</label><br/>
    <input type="text" th:value="${patients.diagnosis}" id="tdiagnosis" name="diagnosis" class="form-control-sm"><br/>
    <button type="submit" class="btn btn-outline-primary btn-sm">Оновити</button>
    </form>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.6.4/dist/jquery.js}"></script>
<script th:src="@{/webjars/popperjs__core/2.11.7/dist/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.0-alpha2/dist/js/bootstrap.bundle.js}"></script>

</body>
</html>